[package]
name = "jsavrs"
version = "0.1.0"
edition = "2024"
authors = ["Giuseppe Bianconi(Giuseppe-Bianc) <bianconig6@gmail.com>"]
description = "A transpiler written in Rust that uses Logos for lexing."
license = "Apache-2.0"
repository = "https://github.com/Giuseppe-Bianc/jsavrs"
readme = "README.md"
keywords = ["rust", "logos", "lexer"]
categories = ["compilers", "parsing"]

[lib]
name = "jsavrs"
path = "src/lib.rs"

[[bin]]
name = "jsavrs"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5.39", features = ["cargo", "derive"] }
console = "0.15.11"
logos = "0.15.0"
thiserror = "2.0.12"
regex = "1.11.1"


[dev-dependencies]
assert_cmd = "2.0.12"
insta = { version = "1.43.1", features = ["yaml", "redactions", "filters"] }
predicates = "3.0.3"
#tempfile = "3.8.0"

[profile.dev.package]
insta.opt-level = 3
similar.opt-level = 3
